*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primarycolor: #F7A100;
    --secondarycolor: white;
    --primary-text-color: #333333;
    --secundary-text-color: white;
    --hover-color: rgba(222,145,1,255);
    --slider-background-color: #e6f2f7;
    --main-font: 'proxima-nova', sans-serif;
    --box-shadow-color: rgb(0 0 0 / 0.2);
    --large-text: 30px;
    --medium-text: 18px;
    --body-text: 16px;
}

h1, h2, p, div.scroll-container img {
    margin: 10px;
    padding: auto;
    padding-right: 1em;
}

.button, .dropdown-content, menu li, h1, h2, p{
    font-family: var(--main-font);
}

/* Logo Styles */

.logo {
    height: auto;
    width: 150px;
}

/* Header Styles */

header {
    margin-bottom: 50px;
}

h1 {
    font-size: var(--large-text);
    /* margin: 650px; */
    margin-bottom: 30px;
    margin-top: 30px;
}

.list-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1em;
}

.hero {
    display: flex;
    justify-content:center;
    align-items: center;
}

/* Button Styles */

.button {
    padding-left: 5px;
    display: flex;
    justify-content: center;
    font-family: var(--main-font);
    margin-bottom: 20px;
}

.button a {
    width: 100px;
    height: 50px;
    display: inline-block;
    background-color: var(--primarycolor);
    margin: 5px 5px auto;
    color: var(--secondarycolor);
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    text-decoration: none;
    padding-left: 5px;
}

.button a:hover, .button-list a:hover {
    background-color: var(--hover-color);
}


/* Style for dropdown button */
.dropbtn {
    background-color: var(--primarycolor);
    color: var(--secondarycolor);
    padding: 10px;
    font-size: var(--body-text);
    border: none;
    cursor: pointer;
}
  
/* Style for dropdown content */
.dropdown-content {
    display: none; /* Hidden by default */
    position: absolute;
    background-color: var(--secondarycolor);
    min-width: 85px;
    box-shadow: var(--box-shadow-color);
    z-index: 1;
}
  
/* Style for each content div */
.dropdown-content div {
    padding: 10px 5px;
}
  
/* Highlight dropdown options on hover */
.dropdown-content div:hover {
    background-color: var(--secondarycolor);
}
  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Navigation Styles */

nav {
    background: var(--primarycolor);
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
}

ul {
    list-style: none;
}

.menu li {
    font-size: var(--body-text);
    padding: 15px 5px;
}

.menu a {
    text-decoration: none;
    color: var(--secondarycolor);
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: left;
}

.slide-images {
    width: 275px;
    height: 300px;
    object-fit: contain;
    padding-right: 1em;
    padding-left: 1px;
}

.slider {
    width: 300px;
    height: 200px;
    display: flex;
    object-fit: cover;
    border: 2px solid var(--secondarycolor);
}

/* Scroll Container Styles */

div.scroll-container {
    background-color: var(--slider-background-color);
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    margin: 20px;
    display: flex;
}

div.scroll-container img {
    padding: 10px;
    width: 200px;
    height: auto;
    object-fit: cover;
    border-radius: 1.5em;
    /* border: 2px solid #c8c7c7;  */
}

/* Box Styles */

.box {
    border-radius: 1.5em;
    box-shadow: 1px var(--box-shadow-color);
    border: 1px solid var(--box-shadow-color);
    padding: 0.1em;
    /* margin-bottom: 0.5em; */
    display: flex;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
    margin-top: 1em;
 }

.info {
    margin-top: 20px;
}

h2 {
    font-size: var(--medium-text);
    padding-right: 1em;
}

p {
    font-size: var(--body-text);
    margin-top: 10px;
    padding-right: 1em;
}

@media only screen and (max-width: 600px) {
    div.scroll-container {
      background-color: var(--secondarycolor);
    }
  }

  body {
    background-color:var(--secondarycolor) ;
    font-family: "Proxima Nova";
    display: flex;
    flex-direction: column;
    
}

  article {
    margin: 0.5em;
}

 .house {
    border-radius: 1.5em;
    box-shadow: var(--box-shadow-color);
    padding: 0.5em;
    margin-bottom: 1em;
 }
 
 .img-house {
    width: 288px;
    height: 120px;
    object-fit: cover;
    border-radius: 1.5em;
 }

.info-house  {
    list-style: none;
    text-align: left;
    padding-left: 0.5em;
    margin-top: -17px;
    margin-bottom: -2px;
    padding-top: 0.2em;
    
}










